@import '../../styles/settings.scss';

.card {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    
    
}

.icon{
    margin: 0;
    padding: 0;
}

.iconContainer{
    display: flex;
    justify-content:space-between;
    align-content: center;
    width: 50px;
}

.buttonFavorite{
    display: inline;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    color: #cacfd9;
    width: 20px;
    height: 20px;
}

.buttonDelete{
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    color: #cacfd9;
}

.buttonDelete:hover{
    color:$color-dark;
    
}
.active{
    color: $color-warning;
}

